# User settings
xcuserdata/
.DS_Store


# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build


# Tests
FailureDiffs/
report.html
report.junit
report.xml
*.xcresult

# Git
vendor/

# Build Generated
DerivedData/
*.log
build/
*.framework.zip

# Allure
/allure-*
xcresults
